version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: postgres_eventmeetup
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
  app:
    build: .
    env_file:
      - .env
    environment:
      SPRING_PROFILES_ACTIVE: docker
    ports:
      - "8081:8081"
    depends_on:
        - postgres
volumes:
  postgres_data:
